*{
      padding: 0;
      margin: 0;
      font-family: sans-serif;
}

:root{
      --font-size-default: 16px;
}

.header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      font-size: var(--font-size-default);
      background-color: #262626;
      color: #fff;
}

.header-item{
      display: flex;
      align-items: center;
      position: relative;
}

.profile-avatar{
      width: 40px;
      height: 40px;
      border-radius: 50%;
}

.search-input{
      display: block;
      height: 32px;
      border: 1px solid #000;
      border-radius: 4px;
      padding: 0 calc(var(--font-size-default) + 16px) 0 8px;
      font-size: var(--font-size-default);
}

.search-button{
      border: none;
      background: none;
      position: absolute;
      right: 8px;
      height: 100%;
      font-size: var(--font-size-default);
}

#bar{
      font-size: 24px;
      margin-right: 8px;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
      
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
      
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
      
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
      
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
      
}